<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppConfigTests_Empty" value="" />
    <add key="AppConfigTests_NonNumeric" value="abc" />
    <add key="AppConfigTests_Zero" value="0" />
    <add key="AppConfigTests_Negative" value="-1" />
    <add key="AppConfigTests_Positive" value="100" />
  </appSettings>
</configuration>
